[class*="qti-layout-col"]:nth-child(2) {
  position: sticky;
  top: 2.5rem;
  height: 100%;
}

[view] {
  display: none;
}
[view].show {
  display: block;
}

:host {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  @apply text-gray-700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply flex flex-col text-sm md:text-base lg:text-base;
}

qti-assessment-item {
  @apply bg-white h-full rounded-md  w-full self-center;
}

qti-item-body {
  @apply flex flex-col;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

qti-rubric-block qti-content-body div:not(:empty),
qti-simple-choice[role="radio"][data-correct-response="true"]::part(slot),
qti-simple-choice[role="radio"][data-correct-response="true"]::part(slot):focus,
qti-inline-choice-interaction::part(correct-option) {
  background:
    linear-gradient(
      104deg,
      rgba(130, 255, 173, 0) 0.9%,
      rgba(130, 255, 173, 1.25) 2.4%,
      rgba(130, 255, 173, 0.5) 5.8%,
      rgba(130, 255, 173, 0.1) 93%,
      rgba(130, 255, 173, 0.7) 96%,
      rgba(130, 255, 1732, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(130, 255, 173, 0) 0%,
      rgba(130, 255, 173, 0.3) 7.9%,
      rgba(130, 255, 173, 0) 15%
    );
  border-radius: 7.5px;
  padding-right: 8px;
  text-shadow:
    -12px 12px 9.8px rgba(130, 255, 173, 0.7),
    21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1);

  @apply w-fit text-green-700 font-semibold;
}

qti-rubric-block qti-content-body div:not(:empty) {
  @apply float-right my-4;
}

qti-simple-choice[role="radio"][data-correct-response="true"]::after {
  @apply hidden;
}

qti-rubric-block qti-content-body div:not(:empty) {
  @apply py-1 px-6 border-none;
}

qti-inline-choice-interaction::part(correct-option) {
  padding: 0 8px;
}

qti-outcome-declaration {
  @apply !hidden;
}

qti-choice-interaction:not(.qti-input-control-hidden) qti-simple-choice {
  @apply p-0;

  &:hover {
    @apply bg-sky-100;
  }
  /* &[aria-disabled="true"] {
    @apply bg-inherit;
  } */
}

qti-choice-interaction:not(.qti-input-control-hidden)
  qti-simple-choice[aria-disabled="true"] {
  @apply bg-transparent;
}

p {
  @apply mt-0 mb-2;
}

qti-simple-choice[role="radio"] {
  @apply cursor-pointer;
}

qti-simple-choice[role="radio"] p {
  @apply my-1;
}

qti-simple-choice[role="radio"]:focus {
  @apply outline-none;
}

qti-choice-interaction:not(.qti-input-control-hidden)
  qti-simple-choice[role="radio"]::part(ch) {
  @apply border-2 border-sky-500;
}

qti-choice-interaction:not(.qti-input-control-hidden)[disabled]
  qti-simple-choice[role="radio"]::part(ch) {
  @apply border-gray-300;
}

qti-extended-text-interaction::part(textarea) {
  @apply border-2 border-sky-500;
  &:disabled {
    @apply border-gray-300;
  }
}

qti-extended-text-interaction::part(textarea):focus {
  @apply outline-none;
}
